.blog_single {
  background-color: white;
  padding: 0em;

  @include mobile_landscape {
    background-color: transparent;
  }

  @media (min-width: 768px) {
    padding: 3em;
  }

  @media (min-width: 960px) {
    padding: 4em;
  }

  @media (min-width: 1024px) {
    padding: 6em;
  }
}

.blog_single .post_text h2.entry_title {
  @include tablet_landscape {
    font-size: 32px;
  }
  @include mobile_landscape {
    .post_text h2.entry_title {
      font-size: 32px;
    }
  }
}

.blog_holder .post_text h2.entry_title {
  font-size: 24px;
  @include mobile_landscape {
    font-size: 20px;
  }
}

.single-post .title_outer {
  visibility: hidden;
}

.blog_holder.blog_single article h2 {
  font-size: 32px;
}

.me-cannotplay {
  display: none;
}

.page-template-blog-masonry article.post {
  transform: scale(1);
  transition: all .25s ease-out, display .25s ease-out .25s;

  &--hidden {
    transform: scale(0);
    display: none;
  }
}

.header_top #searchform input[type=text],
.widget.widget_search form input[type=text] {
  font-size: 16px;
  height: 34px;
}

.blog_holder {
  margin-bottom: 80px;
}

.blog_holder.blog_pinterest {
  @include tablet_landscape {
    margin-left: 20px;
    margin-right: 20px;
  }
  @include mobile_landscape {
    margin-left: 20px;
    margin-right: 20px;
  }
  @include mobile {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.blog_holder.blog_pinterest article.format-audio .post_text .post_text_inner h5 span,
.blog_holder.blog_pinterest article.format-link .post_text .post_text_inner h5 span,
.blog_holder.blog_pinterest article.format-video .post_text .post_text_inner h5 span,
.blog_holder.blog_pinterest article.format-quote .post_text .post_text_inner h5 span,
.blog_holder.blog_pinterest article.format-audio .post_text .post_text_inner h5 a,
.blog_holder.blog_pinterest article.format-link .post_text .post_text_inner h5 a,
.blog_holder.blog_pinterest article.format-video .post_text .post_text_inner h5 a,
.blog_holder.blog_pinterest article.format-quote .post_text .post_text_inner h5 a {
  font-size: 20px;
}

.single .blog_holder article.format-standard.has-post-thumbnail .post_image {
  text-align: center;
  min-height: 180px;
  display: flex;
  border: 1px solid #efefef;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    margin: auto;
  }
}

.blog_holder.blog_pinterest article[class^="format-"] .post_text .post_text_inner,
.blog_holder.blog_pinterest article[class*=" format-"] .post_text .post_text_inner {
  padding: 10px 20px;
}

.blog_holder.blog_pinterest article.format-link .post_text .post_text_inner .icon,
.blog_holder.blog_pinterest article.format-quote .post_text .post_text_inner .icon {
  margin-top: 10px;
  margin-bottom: 20px;
}
