/*=== Buttons ===*/

.qbutton {
  // background-color:
  &:hover {
    color: white;
  }
}

a.primary_cta {
  border: 0;
  display: inline-block;
  width: 50%;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  font-family: $font-family;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  transition: 0.5s all ease-in-out;

  &:hover {
    background: $grey;
    color: $white;
  }
  @include mobile_landscape {
    display: block;
    width: 100%;
  }
}
