/*=== Campaign Information ===*/
.split_section {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 50px;
}

#about_more {
  display: none;
}

.campaign_info {
  width: 100%;
  padding: 50px 150px;

  p {
    color: $purple;
  }

  .share_materials {
    margin-top: 50px;
    text-align: center;

    h3 {
      font-size: 18px;
    }
    @include mobile_landscape {
      margin-top: 20px;
    }
  }
  @include tablet_landscape {
    padding: 50px;
  }
  @include mobile_landscape {
    padding: 20px;
  }
}
