/*=======================
COLORS
=======================*/
.background_white {
    background: $white;
}

.background_beige {
    background: $beige;
}

.background_blue {
    background: $blue;
}

.background_darkblue {
    background: $darkblue;
}

.text_white {
    color: $white;
}

.text_blue {
    color: $twitter;
}
