.down_arrow {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;

  i {
    font-size: 30px;
    color: $white;
    background: $blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $blue;
      background: $white;
    }
  }

  &.animated {
    animation-delay: 1.5s;
    animation-duration: 2s;
  }
}
