
/*=======================
FONTS
=======================*/

body,
h1,
h2,
h3,
p {
  font-family: $font-family;
}

h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

.content {
  p,
  ul,
  ol {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    & span {
      font-size: 22px;
      // color: $black;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 60px;
}

h2 {
  font-weight: 400;
  font-size: 40px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

a {
  color: #000;
  font-weight: 400;
  transition: 0.3s all ease-in-out;

  &:hover {
    color: $blue; //!important
  }
}

hr {
  margin: 4em 0;
}

/**
Resources Filter
*/
.filter_holder ul {
  margin-bottom: 0;

  li span {
    font-size: 16px;
    color: #818181;
  }
}
