/*=======================
FOOTER
=======================*/
.footer_bottom_holder {
  background-color: $blue;
  padding: 10px 0;

  .container_inner {
    width: 95%;
  }
}

.footer_bottom .textwidget p {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}

.textwidget a {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

img.footer_logo {
  width: 40px;
}

.footer_bottom_holder {
  .three_columns > .column1,
  .three_columns > .column3 {
    width: 45%;
    @include mobile_landscape {
      width: 100%;
    }
  }

  .three_columns > .column2 {
    width: 10%;
    @include mobile_landscape {
      display: none;
    }
  }
}
