.q_logo {
  top: auto;
  height: 60px;
  line-height: 57px;

  img {
    display: none !important;

    &.mobile {
      display: none !important;

      @media only screen and (max-width: 1000px) {
        display: none !important;
      }
    }
  }

  .home.page .page_header & {
    display: none;
  }

  .home.page .page_header.sticky & {
    display: block;
  }
}

.header_style_on_scroll {
  .q_logo a:after {
    color: #000;
  }

  a.current {
    color: #9d9d9d;
  }
}

header.page_header a.current span {
  border-bottom: 2px solid;
}

.title_outer {
  background-color: $beige;

  &:before {
    content: '';
    background-image: url(../img/patternoverlay_top_left.png);
    background-repeat: no-repeat;
    background-size: 300px auto;
    width: 300px;
    height: 300px;
    display: block;
    position: absolute;
    z-index: 2;
    opacity: 0.5;
  }
}

.title_outer .has_background.title .title_subtitle_holder {
  z-index: 2;
}

.title.has_fixed_background,
.title.has_background {
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    filter: opacity(0.5) saturate(8);
    z-index: 1;
  }
}

.title_outer .has_background.title .title_subtitle_holder,
.title_outer .has_fixed_background.title .title_subtitle_holder,
.title_outer.with_image .title .title_subtitle_holder {
  vertical-align: bottom;
}

.title_outer .has_background.title .title_holder,
.title_outer .has_fixed_background.title .title_holder,
.title_outer.with_image .title .title_holder {
  @media (max-width: 480px) {
    padding-bottom: 1em !important;
  }
  @media (max-width: 1024px) {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}

body:not(.home) .q_logo a:after {
  content: 'Every Breath Counts';
  color: #9d9d9d;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 60px;
  @include tablet_landscape {
    transform: translateY(-100%);
    position: relative;
    display: block;
    height: 100%;
  }
}

header.fixed.scrolled .header_bottom,
header.fixed.scrolled .header_top,
header.fixed_hiding.scrolled .header_bottom,
header.fixed_hiding.scrolled .header_top {
  background-color: rgba(255, 255, 255, 0.95) !important;
}
