/*=======================
HOMEPAGE
=======================*/
/*=== Main Image ===*/
.main_image {
  position: relative;
  background-attachment: fixed;
  background-size: cover;

  .home.page & {
    height: 800px;
    @include tablet {
      background-attachment: initial;
      height: 500px;
      background-position: 50%;
    }
  }

  &:before {
    @include overlay(rgba(0, 0, 0, .2));
  }

  img {
    display: block;
  }

  .pattern_overlay_top {
    animation-duration: 2s;
    animation-delay: 1.2s;
  }

  .pattern_overlay_bottom {
    animation-duration: 2s;
    animation-delay: 1.2s;
  }

  .page:not(.home) & {
    height: 420px;
    filter: sepia(1) grayscale(0.25);
    background-position: center -100px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    @include tablet {
      display: none;
    }

    &:before {
      @include overlay(rgba(254, 247, 219, .5));
    }
  }
}

.main_image_content {
  position: absolute;
  top: 37%;
  width: 100%;
  text-align: center;

  .logo {
    display: inline-block;
    width: 100px;
    animation-duration: 2s;
    animation-delay: 1.2s;
    @include tablet {
      width: 60px;
    }
  }

  h1.animated {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 0.1em;
    animation-duration: 2s;
    animation-delay: 0.8s;
    @include tablet_landscape {
      font-size: 45px;
    }
    @include tablet {
      font-size: 30px;
    }
    @include mobile_landscape {
      font-size: 20px;
    }
  }

  p.animated {
    font-size: 40px;
    animation-duration: 2s;
    animation-delay: 1.2s;
    @include tablet_landscape {
      font-size: 25px;
    }
    @include tablet {
      font-size: 20px;
    }
    @include mobile_landscape {
      font-size: 16px;
    }
  }
  @include tablet {
    top: 30%;
  }
}
