/*=== Hero Pattern Image ===*/

img.pattern_overlay_top {
  position: absolute;
  top: 0;
  width: 300px;
  left: 0;
  @include tablet {
    width: 200px;
  }
  @include mobile_landscape {
    width: 120px;
  }
  @include mobile {
    width: 80px;
  }
}

img.pattern_overlay_bottom {
  position: absolute;
  bottom: 0;
  width: 200px;
  right: 8%;
  @include tablet {
    width: 150px;
  }
  @include mobile_landscape {
    width: 120px;
  }
  @include mobile {
    width: 80px;
  }
}

/*=== Full Width Image ===*/
section.ebc_image_panel {
  height: 300px;
  background-attachment: fixed;
  background-position: 50%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    @include overlay(rgba(0, 0, 0, .2));
  }
  @include tablet {
    background-attachment: initial;
  }
}
