.blog_holder.blog_pinterest {
  display: block;
  @include mobile {
    width: auto;
    margin: 20px;
  }
}

.filter_outer {
  margin-top: 0px !important;
}

.psa_video {
  display: block;
  width: 100%;
  position: relative;

  img {
    display: block;
    width: 100%;
  }
}

i.fa-play-circle {
  position: absolute;
  font-size: 80px;
  color: $grey;
  transition: 0.5s all ease-in-out;
  top: 45%;
  left: 47%;

  &:hover {
    color: $blue;
  }
  @include tablet {
    font-size: 50px;
  }
  @include mobile_landscape {
    top: 43%;
    left: 43%;
  }
}

.media-row {
  color: $black;
  & + & {
    margin-top: 1em;
    padding-top: 3em;
    border-top: 1px solid #eee;
  }

  @media (min-width: 1024px) {
    display: grid;

    &--left,
    &--right {
      grid-gap: 4rem;
    }

    &--left {
      grid-template-columns: minmax(25%, 200px) 1fr;
    }

    &--right {
      grid-template-columns: 1fr minmax(25%, 200px);
    }
  }

  > div {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.2em;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    img {
      display: block;
      margin: 0.25em auto 0;
    }

    img + img {
      margin-top: 1em;
    }
  }
}

.partner-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;

  img {
    width: auto;
    min-width: 160px;
    max-width: 180px;
    max-height: 80px;
    padding: 1em 2em;
    margin: auto;
    object-fit: contain;
  }
}
