nav.mobile_menu ul li a,
nav.mobile_menu ul li h3 {
    font-size: 24px;
    line-height: 1.6;
}

.mobile_menu_button .fa {
    font-size: 24px;
}

.light.sticky.header_style_on_scroll nav.main_menu>ul>li.active>a,
.light.sticky.header_style_on_scroll nav.main_menu>ul>li:before,
.light.sticky.header_style_on_scroll nav.main_menu>ul>li>a:hover {
  color: $blue;
}
