/*=== Newsletter Form ===*/
div#mc_embed_signup {
  padding: 20px 0;
}

input#mce-EMAIL {
  display: block;
  margin: 0 auto;
  width: 350px;
  border: 0;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-family;
  font-size: 14px;
  color: $purple;
  font-weight: 500;

  &::placeholder {
    color: $purple;
    font-weight: 500;
  }
  @include mobile_landscape {
    width: 100%;
  }
}

input#mc-embedded-subscribe {
  display: block;
  margin: 0 auto;
  border: 0;
  width: 350px;
  padding: 20px 0;
  background: $purple;
  text-transform: uppercase;
  cursor: pointer;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  @include mobile_landscape {
    width: 100%;
  }
}
