.page_template_partners {
  .main_image {
    min-height: 500px;
    height: 38.2vmin;
  }

  hr {
    margin: 4em 1em;
  }

  .partners_template {
    max-width: 1100px;
    margin: 0 auto;

    p {
      margin-left: 23px;
      margin-right: 23px;

      img.alignleft {
        float: left;
        display: block;
        align-items: center;
      }
    }
  }

  .content .content_inner > * + * {
    margin-top: 2em;
  }

  .partners_template ul {
    list-style-type: circle !important;
  }
}
