.post_text_inner {
  padding: 23px 23px 35px !important;
  background: white !important;

  ul,
  ol {
    padding-left: 1.25em;
    padding-right: 1.25em;

    > li + li {
      margin-top: 1.25em;
    }
  }
}
