/*=== Slider ===*/
#ebc_slider {
  margin-bottom: 0;
}

#ebc_slider ul.slides li {
  position: relative;
}

#ebc_slider p.flex-caption {
  position: absolute;
  bottom: 0;
  background: rgba($beige, .9);
  width: 100%;
  margin-bottom: 0;
  padding: 20px 100px;
  color: $purple;
  font-weight: 400;
  @include tablet_landscape {
    position: relative;
  }
  @include tablet {
    padding: 20px;
  }
}

#ebc_slider .flex-direction-nav {
  a {
    border: 2px solid $blue;

    &:hover {
      background: transparent;

      i {
        color: $white;
      }
    }
  }

  i {
    color: $blue;
    transition: all 0.5s ease-in-out;
  }
  @include tablet {
    display: none;
  }
}

#ebc_slider .flex-prev i {
  margin-left: -3px;
  margin-top: -1px;
}

#ebc_slider .flex-next i {
  margin-right: -1px;
  margin-top: -1px;
}
