/*=== Social Panel ===*/
.footer_headline {
  h2 {
    color: $blue;
    letter-spacing: 0.1em;
    @include tablet {
      font-size: 30px;
    }
    @include mobile_landscape {
      font-size: 20px;
    }
  }
}

ul.hashtags {
  display: block;
  padding: 20px 0;

  li {
    display: inline-block;
    padding: 0 10px;
    font-size: 23px;
    color: $black;
  }
}

ul.social_links {
  display: block;
  padding: 20px 0 0;

  li {
    display: inline-block;
    font-size: 23px;
    padding: 0 10px;
  }
}

ul.social_links i {
  background: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

  &.fa-envelope {
    background: $purple;
  }

  &.fa-twitter {
    background: $twitter;
  }

  &.fa-facebook {
    background: $facebook;
  }

  &.fa-instagram {
    background: $instagram;
  }

  &:hover {
    background: $grey;
  }
  @include mobile {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}
