/*=== Stats Panel ===*/
section#stat_panel {
  padding: 80px 0 60px;
}

#stat_panel .column_1_3 {
  padding: 0 50px;
  @include tablet_landscape {
    padding: 0 10px;
  }
  @include mobile_landscape {
    width: 100%;
  }
}

.stat_graphic {
  margin-bottom: 20px;

  img {
    width: 100px;
  }
}

p.stat_text {
  color: $purple;
}
