/*=======================
OVERALL STRUCTURE
=======================*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section.ebc_panel {
  padding: 50px 0;
}

.center {
  text-align: center;
}
/*==================================
GRID
==================================*/
/*=== Full Width Container ===*/
.ebc_container {
  display: block;
  width: 100%;
  padding: 20px 0;
}

.container_inner {
  @include tablet_landscape {
    width: 100%;
  }
  @include mobile_landscape {
    width: 100%;
  }
}
/*=== Non Flexbox Grid (Fallback) ===*/
.ebc_row {
  display: block;
  width: 90%;
  margin: 0 auto;

  .content {
    background: #e1e1e1;
    color: #fff;
    padding: 10px;
  }
  @include desktop {
    width: 1100px;
  }
}

.column_1,
.column_1_2,
.column_1_3,
.column_1_4,
.column_2_3,
.column_3_4 {
  margin: 0 0 10px;
  padding: 0 10px;
  float: left;
  display: inline-block;
}
/*=== Flexbox Grid ===*/
.flexbox {
  .ebc_row {
    display: flex;
    flex-flow: row wrap;
    width: 85%;
    margin: 0 auto;
    @include desktop {
      width: 1100px;
    }
    @include mobile_landscape {
      width: 95%;
    }
  }

  .column_1,
  .column_1_2,
  .column_1_3,
  .column_1_4,
  .column_2_3,
  .column_3_4 {
    margin: 0 0 10px;
    padding: 0 10px;
    float: none;
    display: block;
  }
}
/*=== Columns ===*/
.column_1 {
  width: 100%;
}

.column_1_2 {
  width: 50%;
  @include mobile_landscape {
    width: 100%;
  }
}

.column_1_3 {
  width: 33.33%;
  @include mobile_landscape {
    width: 100%;
  }
}

.column_2_3 {
  width: 66.66%;
  @include mobile_landscape {
    width: 100%;
  }
}

.column_1_4 {
  width: 25%;
  @include tablet {
    width: 50%;
  }
  @include mobile_landscape {
    width: 100%;
  }
}

.column_3_4 {
  width: 75%;
  @include mobile_landscape {
    width: 100%;
  }
}
/*=== Grid ===*/
.ebc_row {
  display: flex;
  flex-flow: row;
  width: 80%;
  margin: 0 auto;
}

.ebc_4 {
  width: 33.33%;
  text-align: center;
  padding: 0 10px;
}

.page_container_inner {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

/**
  setting global styles for p, ol, ul
*/
p,
ul,
ol {
  &:not(:last-of-type) {
    margin-bottom: 1.2em;
  }
}
ul, ol {
  & + p {
    margin-top: 1.2em;
  }
}
ul {
  list-style: none;
}

ol {
  list-style-position: outside;
  li {
    padding-left: 1em;
  }
}
