@import "base/_variables.scss";

/*=== Change background color and font family ===*/

body {
  background: $blue;
}

/*=== Adjust overall form padding ===*/

#login {
  padding: 4% 0 0;
}
 
/*=== Change Width and Height of Logo Image + Add Custom Image File ===*/

.login h1 a {
  background-image: url('../img/logowhite.png');
  width: 150px;
  height: 150px;
  background-size: 150px;
  margin: 0 auto;
}
 
/*=== Add a few changes to the color and style of form itself ===*/

.login form {
  margin-top: 30px;
}

.login label {
  color: #454545;
  display: block;
  margin-bottom: 1em;
  font-weight: normal;
}
 
.login #backtoblog a, .login #nav a {
  color: $white;
}
 
.wp-core-ui .button-primary {
  background: $purple;
  border: none;
  text-shadow: none;
  transition: all .5s ease-in-out;
}

.wp-core-ui .button-primary:hover {
  background: $purple;
  opacity: .8;
}

button, input, select, textarea {
  font-weight: normal;
}
