$black: #101010;
$white: #FFFFFF;
$grey: #e1e1e1;
$darkgrey: #303030;

/*=== EBC Colors ===*/

$blue: #079be0;
$darkblue: #234883;
$beige: #fef7db;
$purple: #333458;

/*=== Social Media Colors ===*/

$twitter: #00aced;
$facebook: #3b5998;
$instagram: #517fa4;

$font-family: 'brandon-grotesque', -apple-system, system-ui, BlinkMacSystemFont, 'Hind', "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
